:root{
  --menu-speed: 0.75s;
}

.menu-wrap {
   position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 2%;
    left : 85%;
    z-index: 2;
    cursor: pointer;
    width: 55px;
    height: 55px;
    opacity: 0;

  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top : 2%;
    left : 88%;
    z-index: 1;
    width: 20px;
    height: 20px;
    padding: 1rem;
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: center ; 
  }
  .hamburger  >img{
    /* content: url(../expand.png); */
    width: 50px;
    height: 50px;
  }
  .menu-wrap .toggler:checked,
  .menu-wrap .toggler:checked + .hamburger{
    left : 3%;
    transition-duration: var(--menu-speed); 
  }
  
  .menu-wrap .toggler:checked + .hamburger > img{
    content: url(../collapse.png);
  } 
  

    /* hide menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: hidden;
    /* display: none; */
  } 
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: translateX(-100%);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: relative;
    top: 0px;
    left : 0px;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }

  .menu-wrap .menu > div {
    background :#202530;
    width: 30vw;
    height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
    transition: all 0.4s ease;
    overflow: scroll;   /*here the contents should scroll if they overflow */
    overflow-x: hidden;
    scrollbar-color: #13cf9d;
    scrollbar-width: thin;

  }
.menu-wrap .menu > div::-webkit-scrollbar{
    width: 4.5px;
    background-color: transparent;
}
.menu-wrap .menu > div::-webkit-scrollbar-thumb{
    background-color: #13cf9d;
    
}
.menu-wrap .menu > div::-webkit-scrollbar-track{
     -webkit-box-shadow: inset 0 0 6px rgba(50,50,60,0);
    background-color: transparent;
   
}

  /*
.menu-wrap .menu ::-webkit-scrollbar { 
       width: 0 !important;
}
*/
  
  
  .menu-wrap .menu > div > div {
    position: relative;
    top :5%;
    text-align: left;
    justify-content: left;
    width: 30vw;
    height: 100vh;  
    opacity: 1;
    transition: opacity 0.4s ease;
  }

@media only screen and (max-width : 960px){
    
  
    .menu-wrap .menu > div
    
    {
         
    width: 60vw;
    height: 110vh;  
  

                            
    }
    .menu-wrap .menu > div >div
    
    {
    width: 60vw;
    height:130vh;
                            
    }
    .menu-wrap .menu > div > div > ul > li {
           font-size:1.05em;
      margin:0px;
      padding:0.15rem;
        
    }
}
